{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
    Shopping Cart
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container mb-2">
        <div class="row">
            <div class="col my-4 text-center">
                <hr>
                <h2>Shopping Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include 'bag/bag-total.html' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include 'bag/checkout-buttons.html' %}
                            <p class="green-muted mb-5">A summary of your bag contents is below</p>
                        </div>
                    </div>
                    {% for item in bag_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include 'bag/product-image.html' %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <p class="my-0 green"><strong>{{ item.product.name }}</strong></p>
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0 green">Price Each: €{{ item.product.price }}</p>
                                <p class="my-0 green"><strong>Subtotal: </strong>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include 'bag/quantity-form.html' %}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                            <hr>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="btt-button border-green green bg-cream">
                        <a class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-up mx-auto my-auto"></i>
                        </a>
                    </div>
                </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="green">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_items %}
                                    <tr>
                                        <td scope="row" class="p-3 w-25">
                                            {% include "bag/product-image.html" %}
                                        </td>
                                        <td scope="row" class="py-3">
                                            <p class="my-0 green"><strong>{{ item.product.name }}</strong></p>
                                        </td>
                                        <td scope="row" class="py-3">
                                            <p class="my-0 green">€{{ item.product.price }}</p>
                                        </td>
                                        <td scope="row" class="py-3 w-25">
                                            {% include "bag/quantity-form.html" %}
                                        </td>
                                        <td scope="row" class="py-3">
                                            <p class="my-0 green">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-lg-0 text-right">
                                        {% include "bag/bag-total.html" %}
                                        {% include "bag/checkout-buttons.html" %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 green">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-green">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        Keep Shopping
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
{% include 'products/includes/quantity_input_script.html' %}

    <script>
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
    </script>
{% endblock %}
