<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm bg-red cream"
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                        <span class="sr-only">Decrement Quantity</span>
                    </span>
                </button> 
            </div>
            <input class="form-control form-control-sm qty_input green" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}" aria-label="Quantity">
            <label class="sr-only" for="{{ item.quantity }}">{{ item.quantity }}</label>
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm bg-green cream"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                        <span class="sr-only">Increment Quantity</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-link float-right"><small class="green">Update</small></a>
<a class="remove-item red" id="remove_{{ item.item_id }}"><i class="fas fa-trash-alt"></i></a>
