{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Home
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <div class="container hero-container img-fluid">
        <div class="row h-100">
                <h1 class="cream title-italiana pt-4 hero-info">The Taste Of <span class="title cream">Tradition</span> On Your Table!</h1>
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-btn btn btn-lg btn-green py-1">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>

    <!-- Categories -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-3">
                <p class="display-4 font-weight-bold green">Categories</p>
            </div>
        </div>
        <div class="row pb-3 ml-4 mr-4">
            {% for c in category_list %}
                <div class="categories col-12 col-md-5 text-center pb-3 mb-3">
                    {% if c.image %}
                        <a href="{% url 'products' %}?category={{ c.backend_name }}">
                            <img src="{{ c.image.url }}" alt="{{ c.friendly_name }}" class="img-responsive" height="140">
                        </a>
                    {% else %}
                        <a href="{% url 'products' %}?category={{ c.backend_name }}">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ c.friendly_name }}" class="img-responsive" height="130">
                        </a>
                    {% endif %}
                    <p class="pt-3 mb-0 pb-0 green">
                        {{ c.friendly_name }}
                    </p>
                </div>
                <div class="col-1"></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
<!-- {{ c.description }} -->