{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col my-4 text-center">
                <hr>
                <h2 class="">My Profile</h2>
                <hr>
            </div>
        </div>
    

{% endblock %}
