{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Wishlist
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pb-5">
        <div class="row">
            <div class="col my-4 text-center">
                <hr>
                <h2>My Wishlist</h2>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {% if wishlist %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="green">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for product in wishlist %}
                                    <tr>
                                        <td class="p-3 w-25">
                                        {% if product.product.image %}
                                            <img class="image-fluid w-100" src="{{ product.product.image.url }}" alt="{{ product.product.name }}">
                                        {% else %}
                                            <img class="image-fluid w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product.name }}">
                                        {% endif %}
                                        </td>
                                        <td class="py-3 w-50 pl-4 pr-5">
                                            <p class="my-0 green mb-4"><strong>{{ product.product.name }}</strong></p>
                                            <div>
                                                <p class="my-0 mr-5 green">{{ product.product.description }}</p>
                                            </div>
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0 green"><strong>€{{ product.product.price }}</strong></p>
                                        </td>
                                        <td class="py-3">
                                            <a class="red" href="{% url 'remove_from_wishlist' product.product.id %}"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 green">You have no products in your Wishlist.</p>
                {% endif %}
            </div>
        </div>   
        <div class="row mt-2">
            <div class="col text-center">
                <a href="{% url 'products' %}" class="btn btn-green">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Delicatessen</span>
                </a>
                <a href="{% url 'profile' %}" class="btn btn-cream my-2">
                    <span>My Profile</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
