html {
    height: 100%;
}

.header-container {
    padding-top: 50px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.carousel .carousel-item {
    height: 400px;
}