html {
    height: 100%;
}

/* ------------------------------------ colours */

.cream {
    color: #fffaea;
}

.green {
    color: #0f5520;
}

.green:hover {
    color: #0f5520;
}

.red {
    color: #990b16;
}

.bg-cream {
    background-color: #fffaea;
}

.bg-green {
    background-color: #0f5520;
}

.bg-red {
    background-color: #990b16;
}

/* ------------------------------------ btn colours */

.btn-red {
    background-color: #990b16;
    color: #fffaea;
}

.btn-green {
    background-color: #0f5520;
    color: #fffaea;
}

.border-green {
    border: 1px solid #0f5520 !important;
}

/* ------------------------------------ navbar */

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
    color: #0f5520;
}

#main-nav .nav-link:hover,
#main-nav .nav-link:active,
#main-nav .nav-link:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #0f5520;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .show>.nav-link:active,
.navbar-light .navbar-nav .show>.nav-link:hover {
    color: #0f5520;
}

.dropdown-menu {
    border: none;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-color: #fffaea;
    color: #0f5520;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* large screen */
@media (min-width: 992px) {
    .navbar-main-lg {
        background-color: #990b16;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:active,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #fffaea;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    
    #main-nav .nav-link:hover,
    #main-nav .nav-link:active,
    #main-nav .nav-link:focus {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #fffaea;
    }

    .navbar-light .navbar-nav .show>.nav-link,
    .navbar-light .navbar-nav .show>.nav-link:active,
    .navbar-light .navbar-nav .show>.nav-link:hover {
        color: #fffaea;
    }

    .dropdown-item:hover {
        background-color: #fffaea;
        color: #0f5520;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

/* ------------------------------------  */

.header-container {
    padding-top: 96px;
}

.logo {
    width: 250px;
}


.side-categories-nav {
    background-color: #990b16;
    color: #fffaea;
    font-size: 24px;
}

.side-categories-items {
    color: #fffaea;
    font-size: 18px;
}

.side-categories-items:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #fffaea;
    color: #fffaea;
}

hr {
    border-top: solid 2px;
    color: #0f5520;
    width: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.carousel .carousel-item {
    height: 400px;
}

.sort-select-wrapper-categories,
.sort-select-wrapper-sort-by {
    width: 80%;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.update-link:hover {
    color: #0f5520;
}

.remove-item i {
    color: #990b16;
}

.add-review:hover {
    color: #0f5520;
    text-decoration-color: #0f5520;
}

.add-to-bag-btn {
    background-color: #0f5520;
    color: #fffaea;
}

.add-to-bag-btn:hover {
    border-color: #0f5520;
    background-color: #fff;
    color: #0f5520;
}

.continue-shopping-btn:hover {
    text-decoration-color: #886839;
}

/* ------------------------------------ bootstrap toasts */

.message-container {
    position: fixed;
    top: 90px;
    right: -60px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 6px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 20px;
}

.arrow-green {
    border-bottom-color: #0f5520 !important;
}

.arrow-red {
    border-bottom-color: #990b16 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------------ Media Queries */

@media (min-width: 768px) {
    .sort-select-wrapper-categories {
        width: 50%;
    }

    .sort-select-wrapper-sort-by {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .sort-select-wrapper-sort-by {
        width: 50%;
    }

    .header-container {
        padding-top: 154px;
    }

    .message-container {
        top: 110px;
    }
}