html {
    height: 100%;
}

.brown {
    color: #886839;
}

.cream {
    color: #fff7dc;
}

.green {
    color: #415712;
}

.header-container {
    padding-top: 160px;
}

#delivery-banner {
    background-color: #886839;
    color: #fff7dc;
}

.logo {
    width: 250px;
}

#topnav {
    background-color: #fff7dc;
}

.main-site-nav {
    background-color: #770D15;
}

#main-nav .nav-link {
    color: #D3B786;
}

#main-nav .nav-link:hover {
    color: #fff7dc;
}

.side-categories-nav {
    background-color: #770D15;
    color: #D3B786;
    font-size: 24px;
}

.side-categories-items {
    color: #D3B786;
    font-size: 18px;
}

.side-categories-items:hover {
    color: #fff7dc;
}

hr {
    border-top: solid 2px #D3B786;
    width: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.carousel .carousel-item {
    height: 400px;
}

.sort-select-wrapper-categories,
.sort-select-wrapper-sort-by {
    width: 80%;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.btt-link {
    cursor: pointer;
}

.add-to-bag-btn {
    background-color: #415712;
    color: #fff7dc;
}

.add-to-bag-btn:hover {
    background-color: #886839;
    color: #fff7dc;
}

.continue-shopping-btn:hover {
    text-decoration-color: #886839;
}


/* ------------------------------------ Media Queries */

@media (min-width: 768px) {
    .sort-select-wrapper-categories {
        width: 50%;
    }

    .sort-select-wrapper-sort-by {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .sort-select-wrapper-sort-by {
        width: 50%;
    }
}