<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link mr-5" href="" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="delicatessen-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Delicatessen
            </a>
            <div class="dropdown-menu" aria-labelledby="delicatessen-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Fresh Foods</a>
                <a href="" class="dropdown-item">Pasta & Risotto</a>
                <a href="" class="dropdown-item">Antipasti</a>
                <a href="" class="dropdown-item">Charcuterie</a>
                <a href="" class="dropdown-item">Cheese</a>
                <a href="" class="dropdown-item">Dolci</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-5" href="" id="our-story-link">
                Our Story
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-5" href="" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>
