<div class="row align-items-center d-md-none bg-green">
    <div class="col text-center">
        <!-- Contact -->
        <div class="row">
            <div class="col bg-green cream text-center">
                <P class="pt-3 mb-1 font-weight-bold">Contact</P>
                <!-- Address -->
                <div class="row">
                    <div class="col-2 offset-2 pl-0 text-left">
                        <p class="small py-0 my-0">Address: </p>
                    </div>
                    <div class="col-8 text-left">
                        <p class="small py-0 my-0"><small>Winkelcentrum Weidevenne,</small></p>
                        <p class="small py-0 my-0"><small>Van Damplein 11, 1448 NB</small></p>
                        <p class="small py-0 my-0"><small>Purmerend</small></p>
                    </div>
                </div>
                <!-- Phone -->
                <div class="row">
                    <div class="col-2 offset-2 pl-0 text-left">
                        <p class="small py-0 my-0">Phone: </p>
                    </div>
                    <div class="col-8 text-left">
                        <p class="small py-0 my-0"><small>+31 633 891 442</small></p>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="col-2 offset-2 pl-0 text-left">
                        <p class="small py-0 my-0">Email: </p>
                    </div>
                    <div class="col-8 text-left">
                        <p class="small py-0 my-0"><small>lafraschetta@example.com</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Social media -->
        <div class="row pb-3 mt-2">
            <div class="col pr-2 text-right">
                <a href="https://www.facebook.com/" class="text-decoration-none hvr-grow" target="_blank" rel="noopener">
                    <i class="fab fa-facebook-square cream social-icons fa-lg" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
            </div>
            <div class="col pl-2 text-left">
                <a href="https://www.instagram.com/" class="text-decoration-none hvr-grow" target="_blank" rel="noopener">
                    <i class="fab fa-instagram cream social-icons fa-lg" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
            </div>
        </div>
        <!-- logo -->
        <div class="row">
            <div class="col-12">
                <a href="{% url 'home' %}" class="">
                    <img class="logo bg-cream" src="{{ MEDIA_URL }}logo.png" alt="Sky line of Italy with 'La Fraschetta' written below">
                </a>
            </div>
            <div class="col text-center">
                <h5 class="cream pt-2 hero-info-footer">The taste of <span class="cream">Tradition</span> on your table!</h5>
            </div>
        </div>
    </div>  
</div>