{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}

    <div class="container mb-2">
        <div class="row">
            <div class="col my-4">
                <hr>
                <h2>{% trans "Set Password" %}</h2>
                <hr>
            </div>
        </div>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
{% endblock %}
