{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col my-4 text-center">
                <hr>
                <h2 class="">Our Story</h2>
                <hr>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <img class="w-100" src="{{ MEDIA_URL }}our-story.jpeg" alt="">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <a href="{% url 'products' %}" class="btn btn-green d-none d-md-block">Check Out Our Products</a>
                        <a href="" class="btn btn-cream d-none d-md-block mt-3">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 green">
                <p>
                    La Fraschetta began years before we opened the doors to our store. 
                </p>
                <p>
                    It all began when our paths crossed in an Italian restaurant in the Netherlands in 2016. 
                    Simone had been working as a pizza maker and I as a food photographer. 
                    Our love for food brought us together and we got married in 2020. 
                </p>
                <p>
                    We have both been inspired by our families authentic Italian cooking. 
                    But above all, our Nonna has been the biggest inspiration. 
                    To this day, at the age of 92, she is still cooking for the family with such passion and pride. 
                    From making home made pasta to serving the best wines at dinner. 
                    She always finds a way to bring the family together. 
                </p>
                <p>
                    That’s how we decided to start our authentic Italian delicatessen in the Netherlands. 
                    We wanted others to experience the traditional Italian home cooked meals and products that we have been so lucky to enjoy. 
                </p>
                <p>
                    Our home cooked meals are freshly made using the traditional recipes from Nonna. 
                    Our products have been carefully selected and imported from Italy. 
                </p>
                <p>
                    We hope that you enjoy the taste of our food and experience our little Italy as if you are sitting at our humble table.
                </p>
                <div class="row mt-5">
                    <div class="col">
                        <a href="{% url 'products' %}" class="btn btn-green d-block d-md-none">Check Out Our Products</a>
                        <a href="" class="btn btn-cream d-block d-md-none mt-3">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="gallery">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story2.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story4.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story3.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story5.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story6.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story7.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story8.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story12.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story10.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story11.jpeg" alt="">
                <img class="w-100 mt-3" src="{{ MEDIA_URL }}our-story9.jpeg" alt="">
            </div>
        </div>
    </div>
{% endblock %}