{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-6 mt-5">
                        <h1 class="">{{ product.name }}</h1>
                    </div>
                    <div class="col-6 mt-5">
                        <p class="text-right">
                            <span class="d-none d-lg-inline-block green">Add To Wishlist: </span>
                            <i class="far fa-heart fa-lg ml-1 green"></i>
                            <i class="fas fa-heart fa-lg ml-1 red d-none"></i>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    {% if product.reviews == 5 %}
                        <p class="">
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                ({{ product.reviews|length }} reviews) | <a class="green add-review" href="">Add Your Review</a>
                            </small>
                        </p>
                    {% elif product.reviews == 4 %}
                        <p>
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                ({{ product.reviews|length }} reviews) | <a class="green add-review" href="">Add Your Review</a>
                            </small>
                        </p>
                    {% elif product.reviews == 3 %}
                        <p>
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                ({{ product.reviews|length }} reviews) | <a class="green add-review" href="">Add Your Review</a>
                            </small>
                        </p>
                    {% elif product.reviews == 2 %}
                        <p>
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                ({{ product.reviews|length }} reviews) | <a class="green add-review" href="">Add Your Review</a>
                            </small>
                        </p>
                    {% elif product.reviews == 1 %}
                        <p>
                            <small class="text-muted">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                ({{ product.reviews|length }} reviews) | <a class="green add-review" href="">Add Your Review</a>
                            </small>
                        </p>
                    {% else %}
                        <p>
                            <small class="text-muted">
                                No Reviews | <a href="">Add Your Review</a>
                            </small>
                        </p>
                    {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead text-left font-weight-bold">€{{ product.price }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 d-none d-lg-block">
                    {% if product.category %}
                        <p class="my-auto">Category:</p>
                    </div>
                    <div class="col-9">
                        <p class="my-auto">
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                <p class="small my-auto">{{ product.category.friendly_name }}</p>
                            </a>
                        </p>
                    {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 d-none d-lg-block">
                        <p class="">Description:</p>
                    </div>
                    <div class="col-9">
                        <p class="small text-muted">{{ product.description }}</p>
                    </div>
                </div>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    <div class="row">
                        {% csrf_token %}
                        <!-- <div class="form-row"> -->
                        <div class="col-3 d-none d-lg-block">
                            <p class="">Quantity:</p>
                        </div>
                        <div class="col-5">
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button type="submit" class="btn add-to-bag-btn">Add to Bag <i class="fas fa-shopping-basket cream"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-danger">Temporarily out of stock</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'products' %}" class="continue-shopping-btn">
                                <span class="icon">
                                    <i class="fas fa-chevron-left brown"></i>
                                </span>
                                <span class="brown">Continue Shopping</span>
                            </a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>        
        </div>
    </div>
{% endblock %}