{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Shop image -->
        <div class="col text-center mt-3">
            <h2 class="">Delicatessen</h2>
        </div>
    </div>
    <!-- Categories dropdown sm and md screens -->
    <div class="row">
        <div class="col d-lg-none">
            <form action="">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">Categories</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
            </form>
        </div>
    </div>
    <!-- Delicatessen|10 Products ------- Sort By (lg & md screen)-->
    <div class="row">
        <div class="col-sm-12 col-md-6 order-md-2">Sort By</div>
        <div class="col-sm-12 col-md-6 order-md-1">Delicatessen|10 Products</div>
    </div>
    <div class="row">
        <!-- Categories lg screen -->
        <div class="d-none d-lg-block col-lg-3 ">
            Categories
        </div>
        <!-- Products outer container lg screen -->
        <div class="col-lg-9">
            <!-- Products inner container lg screen -->
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="card h-100">
                            {% if product.image %}
                            <a href="">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                            {% else %}
                            <a href="">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.reviews %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.reviews }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Reviews</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}